services:
  app:
    build: .
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      - PORT=3000
    container_name: worker-geral

  # Exemplo de worker adicional (descomente e configure)
  # worker-empresa-a:
  #   build: .
  #   restart: always
  #   env_file: .env
  #   environment:
  #     - COMPANY_NAME=EmpresaA
  #     - PORT=3001 # Se precisar expor porta diferente
  #   container_name: worker-empresa-a
